.nav-text-1{
    color: orange;
}

.nav-text-2{
    color: white;
}

.navbar_navbar-expand-lg_navbar-light_bg-dark{
    background-color: black;
}

.col-md-3{
    background-color: #343a40;
    color: white;
    border: 1px bold orange;
    height: 200px;
    margin: 10px;
}
.containertitle{
    color: orange;
}

hr{
    border: 1px solid orange;
}

#footer{
    background-color: #666666;
    height: 50px;
    text-align: center;
    margin-bottom: 100%;
    border-top: 8px solid orange;
    color: white;
}