.nav-text-1{
    color: orange;
}

.nav-text-2{
    color: white;
}

.navbar_navbar-expand-lg_navbar-light_bg-dark{
    background-color: black;
}

#body{
    margin-left: 100px;
    margin-right: 100px;
}

.col-md-3{
    background-color: #343a40;
    color: white;
    border: 1px bold orange;
    height:250px;
    margin:auto;
    z-index:1;
}
.containertitle{
    color: orange;
}

hr{
    border: 1px solid orange;
}

#footer{
    background-color: #666666;
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
    text-align: center;
    border-top: 8px solid orange;
    color: white;
}




#searchForm{
   text-align:center;
   position:relative;
   width:85%;
   left:10%;
   top:10px;
  
}
.sortBySelection{
    height:20px;
    background-color:lightgrey;
    float:left;
    margin:3px;
    width:200px;
    border:#00000000;
    font-size:11px;
    color:darkslategray;
    
}
    



#searchSubmit{
    width:50px;
    background-color:black;
    border:1.5px solid orange;
    border-radius:4px;
    color:whitesmoke;
    font-size:9px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;


}

.formBar{
    background-color: #666666;
    text-align: center;

}
lable{
    float:left;
    color:whitesmoke;
}
#publicationDateSearchStart{
    width:120px;
}
#publicationDateSearchEnd{
    width:120px;
}
.backwardsButton{
    position:absolute;
    left:0px;
    top:40%;
    background-color:grey;
    color:orange;
    font-size:15px;
    font-weight:bold;
    
    
    
}

.forwardButton{
    position:absolute;
    right:0px;
    background-color:grey;
    color:orange;
    font-size:15px;
    font-weight:bold;
    top:40%;
    
    

    
}
.scrollButton:hover{
background-color:lightgrey
}
input{
    height:20px;
    background-color:lightgrey;
    float:left;
    margin:3px;
    width:200px;
    border:#00000000;
    font-size:11px;
    color:darkslategray;
    text-align: justify;
    

}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.selectionMethod{
    height:20px;
    background-color:lightgrey;
    float:left;
    margin:3px;
    width:200px;
    border:#00000000;
    font-size:11px;
    color:darkslategray;
    

}
.snowFlake{
    position:absolute;
    left:10%;
z-index:5;
height:10px;
width:10px;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.5);
animation-name: snowFall;
animation-iteration-count: 2;
animation-duration:3s;
animation-fill-mode: forwards;
border-radius:50%;
}
.snowFlake2{
    border-radius:50%;
    position:absolute;
    left:30%;
z-index:5;
height:10px;
width:10px;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.5);
animation-name: snowFall;
animation-iteration-count: 2;
animation-duration:3s;
animation-fill-mode: forwards;
}
.snowFlake5{
    border-radius:50%;
    position:absolute;
    left:50%;
z-index:5;
height:10px;
width:10px;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.5);
animation-name: snowFall;
animation-iteration-count: 2;
animation-duration:3s;
animation-fill-mode: forwards;
}
.snowFlake4{
    border-radius:50%;
    position:absolute;
    left:80%;
z-index:5;
height:10px;
width:10px;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.5);
animation-name: snowFall;
animation-iteration-count: 2;
animation-duration:3s;
animation-fill-mode: forwards;
}
.snowFlake5{
    border-radius:50%;
    position:absolute;
    left:35%;
z-index:5;
height:10px;
width:10px;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.5);
animation-name: snowFall;
animation-iteration-count: 2;
animation-duration:3s;
animation-fill-mode: forwards;
}
.snowFlake6{
    border-radius:50%;
    position:absolute;
    left:90%;
z-index:5;
height:10px;
width:10px;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.5);
animation-name: snowFall;
animation-iteration-count: 2;
animation-duration:3s;
animation-fill-mode: forwards;
}
.snowFlake7{
    border-radius:50%;
    position:absolute;
    left:50%;
z-index:5;
height:10px;
width:10px;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.5);
animation-name: snowFall;
animation-iteration-count: 2;
animation-duration:3s;
animation-fill-mode: forwards;

}

.rainDrop{
    position:absolute;
    left:30%;
    height:20px;
    width:3px;

    animation-name:rain;
    animation-iteration-count:4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin:bottom;

}

.rainDrop2{
    position:absolute;
    left:60%;
    height:20px;
    width:3px;

    animation-name:rain;
    animation-iteration-count:4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin:bottom;

}

.rainDrop3{
    position:absolute;
    left:80%;
    height:20px;
    width:3px;

    animation-name:rain;
    animation-iteration-count:4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin:bottom;

}

.rainDrop4{
    position:absolute;
    left:20%;
    height:20px;
    width:3px;

    animation-name:rain;
    animation-iteration-count:4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin:bottom;

}

.rainDrop5{
    position:absolute;
    left:75%;
    height:20px;
    width:3px;


    animation-name:rain;
    animation-iteration-count:4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin:bottom;

}

.rainDrop6{
    position:absolute;
    left:50%;
    height:20px;
    width:3px;


    animation-name:rain;
    animation-iteration-count:4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin:bottom;

}

.rainDrop7{
    position:absolute;
    left:90%;
    height:20px;
    width:3px;

    animation-name:rain;
    animation-iteration-count:4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin:center;
}

.cloud{
    position:absolute;
    left:-20%;
    top:10%;
    height:300px;
    width:2000px;
    background-color:grey;
    border-radius:50%;
    opacity: 0.3;
    /* border:10px solid lightgray; */
    animation-name:cloud;
    transition-timing-function: linear;
    animation-iteration-count:1;
    animation-duration:9s;
    animation-fill-mode:forwards;
}
.cloud2{
    position:absolute;
    right:-20%;
    top:45%;
    height:400px;
    width:2000px;
    background-color:grey;
    border-radius:50%;
    opacity: 0.3;
    /* border:10px solid lightgray; */
    animation-name:cloud2;
    animation-iteration-count:1;
    animation-duration:9s;
    transition-timing-function: linear;
    animation-fill-mode:forwards;
}

.cloud3{
    position:absolute;
    left:-20%;
    top:70%;
    height:150px;
    width:2000px;
    border-radius:50%;
    background-color:grey;
    opacity: 0.3;
    /* border:10px solid lightgray; */
    animation-name:cloud;
    transition-timing-function: linear;
    animation-iteration-count:1;
    animation-duration:9s;
    animation-fill-mode:forwards;
}
@keyframes cloud{
    0%{left:-20%;}
    99%{left:120%;
        transform:scale(1,1);}
    100%{visibility:hidden;
        transform:scale(0,0)}}
@keyframes cloud2{
    0%{right:-20%}
    99%{right:120%;
        transform:scale(1,1);}
    100%{visibility:hidden;
        transform:scale(0,0)}}
@keyframes rain{
    0%{top:0%;
        visibility:visible;
        width:1px;
        height:15px;
        border:0px;
        border:1px solid grey;
        border-radius:50%}
    60%{border-radius:50%;
        visibility:visible;
        width:2px;
        height:15px;
        background-color:grey;
        top:90%;}
    61%{visibility:hidden;
        transform:scale(1,1);
        background-color:#00000000;
        border:1px solid grey;}
     99%{visibility:visible;
        top:80%;
        transform:scale(10,.5);
        background-color:#00000000;
        border:1px solid grey;
        border-radius:50%;
        top:90%;}
    100%{visibility:hidden}}

@keyframes snowFall{
    0%{top:0%; }
    99%{top:90%;}
    100%{visibility: hidden;}

}
.sun{
    position:absolute;
    left:40%;
    width:200px;
    height:200px;
    border-radius:50%;
    opacity:0.6;
    background-color:lightgrey;
    border:5px solid orange;
    animation-name:sun;
    transition-timing-function: ease-in;
    animation-iteration-count:1;
    animation-duration:6s;
    animation-fill-mode:forwards;
}

@keyframes sun{
    0%{bottom:-70%;
        transform:scale(10,10);
    background-color:orange;}
    99%{bottom:100%;
        transform:scale(.2,.2);
        background-color:whitesmoke;}
    100%{visibility:hidden}
}
@keyframes fog{
0%{opacity:0.8;}
/* 25%{opacity:0.3;}
50%{opacity: 0.9;} */
99%{ opacity:0;}
100% {visibility:hidden}
}

.fog{
    position:absolute;
    bottom:0px;
    width: 100%;
    height:100%;
    opacity: 0.2;
    background-color:gray;
    z-index:2;
    animation-name:fog;
    transition-timing-function: ease-in-out;
    animation-iteration-count:1;
    animation-duration:5s;
    animation-fill-mode:forwards;
}

.star{
    position:absolute;
    right:30%;
    top:20%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}
.star2{
    position:absolute;
    right:60%;
    top:17%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}
.star3{
    position:absolute;
    right:50%;
    top:25%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}
.star4{
    position:absolute;
    right:20%;
    top:10%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}
.star5{
    position:absolute;
    right:60%;
    top:30%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}
.star6{
    position:absolute;
    right:80%;
    top:44%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}
.star7{
    position:absolute;
    right:26%;
    top:22%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}
.star8{
    position:absolute;
    right:80%;
    top:30%;
    border-radius:50%;
    animation-name:star;
    transition-timing-function: linear;
    animation-iteration-count:6;
    animation-duration:2s;
    animation-fill-mode:forwards;
    transform-origin:center;
}

@keyframes star{
0%{width:1px;
    height:1px;
    background-color:lightgrey}
50%{width:2px;
    height:2px;
    background-color:white;}
99%{width:1px;
    height:1px;
    background-color:lightgrey}
100%{visibility:hidden}

}



/* #advancedSearch{
    width:100px;
    background-color:black;
    border:1.5px solid orange;
    border-radius:4px;
    color:whitesmoke;
    font-size:9px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    float:left;
    height:20px;
    position:relative;
    top:6%;

} */
img{
    display:block;
    max-width: 95%;
    max-height:95%;
    height:auto;
    width:auto;
    margin:auto;

    /* object-fit: cover; */
    z-index:-1;
    
}
.newsBox{
    z-index:0;
}
.newsBox:hover{
background-color:lightslategray;
}

.articleTitle{
    color:orange;
    
    z-index:2;
    font-size:15px;
    font-weight: bold;
    position:relative;
    margin:auto;
    height:45px;
    overflow: hidden;

}

.sourceTitle{
    color:orange;
    z-index:2;
    position:relative;
    margin:auto;
    height:15px


}
.newsImage{
    position:relative;
    border:2px solid orange;
    height:150px;
    margin:auto;

    
}

.mainarticleTitle{
text-align:center;
font-size:20px;
font-weight:bold;
}
.authorName{
    color:orange;
    text-align: center;
}
.underLine{
    height:1px;
background-color:orange;
}



/* .moon {
    background-color: #222;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    /* I set 2 shadows where the first one doesn't have blur and spread for firefox fix. */
    /* box-shadow: inset 0px 16px #999, inset 0px 16px 1px 1px #999;
    -moz-box-shadow: inset 0px 16px #999, inset 0px 16px 1px 1px #999;
  } */ 


.articleContainer{
    background-color:lightgrey;
    text-align:center;
    padding:3px;
    
}
body{
    background-color:lightgrey;
    overflow: hidden;


}


@media screen and (max-width: 600px) {
    
    body{
        overflow:scroll
    }
    
    body::-webkit-scrollbar{
        display:none;
    }

    #footer{
        position:relative
    }
        

    }
  








